.logo{
    margin-top: 10px;
    width: 100px;
    position:absolute;
}
body{
    background-image: linear-gradient(270deg, rgb(0, 0, 0), rgba(51, 48, 48, 0.986));
    background-color: rgba(56, 55, 55, 0.87);
}
.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.font.header{
    margin-top: 50px;
}
.font.titulo{
    
    text-align: center;
    font-size: 0.8cm;
}
.font.titulo.geral{
    color: rgb(255, 187, 0);
    text-align: center;
    font-size: 0.8cm;
}
.font.menu{
    color: rgb(255, 187, 0);
}
.font.itens{
    color: rgb(250, 224, 106);
    font-size: 0.5cm;
}
.font.formulario{
    text-align: center;
    color: rgb(255, 187, 0);
}
.font.titulo2{
    color: rgb(255, 187, 0);
}
main{
    margin-left: 5%;
    margin-right: 5%;
}

header{
    width: 100%;
    height: 100px;
    background-image:linear-gradient(to left, rgb(190, 93, 14), rgb(240, 217, 8));
    color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.tabela{
    text-align: center;
    width: 500px;
    border:5px;
    border-color: rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 8px;
}

.font.tabela{
    font-size: 0.6cm;
}

td{
    background-color: rgb(212, 131, 8);
}

th{
    background-color: rgb(131, 59, 57);
}

.th.produto{
    background-color: rgb(63, 28, 27);
}

.tr.total{
    background-color: rgb(63, 28, 27);
}

.botao{
    background-color: rgb(248, 203, 119);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}